/* global.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    color: #0062cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add more global styles as needed */

h1{
    text-align: center;
    font-size: 4vw;
    margin-top: 5%;
    margin-bottom: 5%;
}

button{
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-left: 8px;
    margin-right: 8px;
}

button:hover{
    background-color: #e0e0e0;
    color: #000;
}

#adminPage{
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-right: auto;
    margin-left: auto;
}

th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

#insertBtn{
    margin-left: 80%;
}

#inputForm input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-right:40%;
}

#inputForm label{
    padding-right: 1%;
    padding-top: 0.75%
}

.form-group {
    display: flex;
    justify-content: right;
    margin-bottom: 15px; /* Add space between each label-input pair */
}

#centerBtn{
    margin-right: 46%;
    margin-left: 46%;
    margin-top: 3%;
}

.login-form{
    display: block;
    margin-left: 41%;
    margin-right: 41%;
}

.login-form #login{
    padding: 10px;
    display: block;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 5%;
}

.login-form label{
    color: #333;
    font-size: 16px;
}